header{
    display: flex;
    justify-content: center;
    font-family:cursive;
    font-size: x-large;
    background-color: snow;
    border-radius: 88px;
}

.main{
    display: flex;
    gap: 22px;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

.d1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0.2em
}

.d2{
    display: flex;
    justify-content: center;
}

.d3{
    background-color: snow;
    border-radius: 22px;
    padding: 50px 10px 50px 10px ;
}

.d3 a:hover{
    background-color:rgb(209, 228, 245) ;
}

.d4{
    border-radius: 20px;
    box-shadow: 0px 0px 4px;
    padding: 10px 20px 10px 20px;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: large;
}

.d4>h1{
    color:steelblue;
}

h2{
    font-family:monospace;
    font-weight: 20;
}

/*table{ 
    align-items: center;
    text-align: center;
    padding: 5px;
}

select{
    background-color:snow;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: italic;
    letter-spacing: 5px;
}

select:hover{
    background-color: rgb(209, 228, 245) ;
}*/

footer p{
    font-size: large;
    background-color: snow;
    border-radius: 22px;
    display: flex;
    justify-content: center;
}

footer a {
    display:flex;
    justify-content: center;
}